<div class="container-fluid footer bg-gradient bg-light">
    <div class="content restricted">
        <div class="row">
            <div class="col-6">

            </div>
            <div class="col-6">

            </div>
        </div>
    </div>
</div>
