<nav class="navbar navbar-expand-lg mb-5">
  <div class="container restricted">
    <a class="navbar-brand" href="/">
      Hexagon's Blog
    </a>
    <div class="collapse navbar-collapse" id="navbar-collapse-1">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
      
        <!-- Icons Links -->
        <li class="nav-item">
          <a class="nav-link" href="https://hexagon.56k.guru"><i class="fas fa-globe me-2"></i></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="https://github.com/hexagon"><i class="fab fa-github me-2"></i></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="https://github.com/hexagon/sponsors"><i class="fas fa-hand-holding-usd me-2"></i></a>
        </li>
      </ul>
    </div>
  </div>
</nav>
