---
layout: base.njk
---

<div class="row">
  <div class="col-lg-9">
    <section>
        {{ content | safe }}
    </section>
  </div>

  <!-- Sidebar -->
  <div class="col-lg-3">
    {% include "partials/recommended.njk" %}
    {% include "partials/more-series.njk" %}
  </div>
</div>