---
layout: layout/body.njk
---

<div class="row">
  <div class="col-md-9">
    <section>
        {{ content | safe }}
    </section>
  </div>

  <!-- Sidebar -->
  <div class="col-md-3">
    {% include "partials/recommended.njk" %}
    {% include "partials/more-series.njk" %}
    {% include "components/ads/plex.njk" %}
  </div>
</div>