---
layout: layout/body.njk
---

<div class="row">
  <div class="col-md-9">
    <section>
      <article lang="{{ language }}">
        {% include "partials/post-details.njk" %}
        {{ intro | md | safe }}
        <br>
        {% include "components/ads/article.njk" %}
        <br>
        {{ content | safe }}
      </article>
    </section>
    <hr>
    {% include "partials/next-previous.njk" %}
    <hr>
    <!-- {% include "components/ads/plex.njk" %}
    <hr> -->
    {% include "components/disqus.njk" %}
  </div>

  <!-- Sidebar -->
  <div class="col-md-3">
    {% include "components/search.njk" %}
    {% include "partials/series-toc.njk" %}
    {% include "partials/recommended.njk" %}
    {% include "partials/more-series.njk" %}
    <!--{% include "components/ads/plex.njk" %}-->
  </div>
</div>