---
layout: base.njk
---

<div class="row">
  <div class="col-md-9">
    <section>
      <article lang="{{ language }}">
        {% include "partials/post-details.njk" %}
        {{ content | safe }}
      </article>
    </section>
    <hr>
    {% include "partials/next-previous.njk" %}
    <hr>
    {% include "disqus.njk" %}
  </div>

  <!-- Sidebar -->
  <div class="col-md-3">
    {% include "partials/series-toc.njk" %}
    {% include "partials/recommended.njk" %}
    {% include "partials/more-series.njk" %}
  </div>
</div>