---
layout: layout/html.njk
---

<body>

  {% include "partials/nav.njk" %}

  <!-- content -->
  <div class="container restricted">
    {{ content | safe }}
  </div>
    
  {% include "partials/footer.njk" %}

</body>