---
layout: layout/html.njk
---

<body>

  <header class="container">
    {% include "partials/nav.njk" %}
  </header>

  <main class="container">
    <!-- content -->
    {{ content | safe }}
  </main>

  <footer class="container">
    {% include "partials/footer.njk" %}
  </footer>

</body>