@import "https://cdn.jsdelivr.net/gh/highlightjs/cdn-release@11.6.0/build/styles/github-dark.min.css";
@import "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css";

aside {
    border-left: 1px solid #333;
    margin-left: 20px;
    padding-left: 20px;
}

aside a {
    font-size: 0.9rem;
}

article table {
    width: 100%;
    margin-bottom: 30px;
}

article table td, article table th {
    padding: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
}

article table tr:first-child, article table tr:first-child {
    padding-left: 0px;
}

article table tr:nth-child(even) {
    background-color: rgba(0, 0, 0, 0.02);
    border-top: 1px solid rgba(0, 0, 0, 0.06);
    border-bottom: 1px solid rgba(0, 0, 0, 0.06);
}
article table tr:nth-child(0) {
    background-color: none;
    border-top: 0px none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.06);
}
/* Colors for comparison table */
.green {
    color: rgb(42, 129, 42);
}
.red {
    color: rgb(168, 53, 53);
}
.orange {
    color: rgb(182, 110, 29);
}
.purple {
    color: rgb(150, 63, 172);
}

.header-image {
    width: 100%;
}

.index-avatar {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    margin-left: 25px;
}

/* Reset Pico CSS Responsive padding */
body > header, body > footer, body > main {
    padding: 0;
}

.hljs {
    border-radius: 3px;
}

  /* Pico CSS Overrides */
 :root {
    --font-size: 13px;
  }
  @media (min-width: 576px) {
    :root {
      --font-size: 14px;
    }
  }
  @media (min-width: 768px) {
    :root {
      --font-size: 15px;
    }
  }
  @media (min-width: 992px) {
    main .grid {
      grid-template-columns: auto 25%;
    }
  }
  