---
layout: page.njk
title: Hexagon's Blog
tags: index
---
<section class="mb-5">
    <h1 class="mb-3">Hello, I'm Hexagon</h1>
    <img src="/img/hexagon_150.webp" width="150" height="150" title="Hexagon's Avatar" class="index-avatar float-end">
    <p class="lead-text">I've been into JavaScript since 1996, having created libraries like <a href="https://croner.56k.guru" target="_blank">Croner</a>, a cross-runtime cron scheduler, and <a href="https://pup.56k.guru" target="_blank">Pup</a>, a process manager similar to pm2 for Deno. My blog covers everything from JavaScript and TypeScript to modern runtimes like Deno. I'm all about Open Source, portable code and minimal bloat.</p>
    <p>For a solid foundation in pure JavaScript, check out my article series <a href="/posts/guide-to-js/introduction/">The guide to JavaScript</a>.</p>
    <p>This blog is built using <a href="https://deno.land" target="_blank">Deno</a> and <a href="https://lume.land" target="_blank">Lume</a>, and the source code is available at <a href="https://github.com/hexagon/blog">github.com/hexagon/blog</a>.</p>
    <br>
    <hr>
    {% if ads.article %}
      {% include "components/ads/article.njk" %}
      <hr>
    {% endif %}
    <h2 class="mb-4 mt-5">Recent posts</h2>
    {% for post2 in search.pages("post","date=desc") %}
        {% if loop.index0 < 20 and post2.data.title != "Home" %}    
            <section>
                <hgroup>
                    <h1><a href="{{ post2.data.url }}">{{post2.data.title | title }}</a></h1>
                    <p>
                        <!-- Author -->
                        {% if post2.data.author %}
                            by <strong>{{ post2.data.author.name }}</strong>, 
                        {% endif %}

                        <!-- Date -->
                        <time datetime="{{ post2.data.date | date("yyyy-MM-dd'T'HH:mm:ss'.000'XX") }}">
                            {{ post2.data.date | date }}</time>{% if post2.data.updated %}<span>, Updated:</span>
                        <time datetime="{{ post2.data.updated | date("yyyy-MM-dd'T'HH:mm:ss'.000'XX") }}">
                            {{ post2.data.updated | date }}
                        </time>
                        {% endif %}
                    </p>
                </hgroup>
                <p>
                    {{ post2.data.intro | md | safe }}
                </p>
            </section>
        {% endif %}
    {% endfor %}
    <hr>
    {% include "components/ads/plex.njk" %}
    <br>
</section>