<div class="container-fluid footer border-top border-light bg-gradient bg-light">
    <div class="container restricted">
        <div class="row">
            <div class="col-md-6 p-3">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <!-- Icons Links -->
                    <li class="nav-item">
                        <strong>hexagon.56k.guru</strong>
                    </li>
                    <li class="nav-item">
                        An open-source blog for tech and/or JavaScript enthusiasts
                    </li>
                    <li class="nav-item mt-3">
                        <strong>Licensing</strong>
                    </li>
                    <li class="nav-item">
                        <a href="https://creativecommons.org/licenses/by-sa/4.0/" class="link-secondary" target="_blank" title="License for Posts">Posts: <strong>CC BY-SA 4.0</strong></a>
                    </li>
                    <li class="nav-item">
                        <a href="https://opensource.org/licenses/MIT" class="link-secondary" target="_blank" title="License for Code">Site: <strong>MIT</strong></a></a>
                    </li>
                </ul>
            </div>
            <div class="col-md-6 p-3 text-right">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <!-- Icons Links -->
                    <li class="nav-item">
                    <a class="link-secondary" href="https://hexagon.56k.guru" title="Website"><i class="fas fa-globe me-2"></i> Web: <strong>hexagon.56k.guru</strong></a>
                    </li>
                    <li class="nav-item mt-1">
                    <a class="link-secondary" href="https://github.com/hexagon" title="Hexagon at GitHub"><i class="fab fa-github me-2"></i> GitHub: <strong>Hexagon</strong></a>
                    </li>
                    <li class="nav-item mt-1">
                        <a class="link-secondary" href="https://github.com/sponsors/hexagon" title="Sponsor Hexagon at GitHub"><i class="fas fa-hand-holding-usd me-2"></i> GitHub Sponsors: <strong>Hexagon</strong></a>
                    </li>
                    <li class="nav-item mt-1">
                        <i class="fas fa-envelope me-2"></i> Mail: <strong>hexagon(at)56k(dot)guru</strong>
                    </li>
                    <li class="nav-item mt-1">
                        <i class="fas fa-rss me-2"></i> RSS Feed: <strong><a href="https://hexagon.56k.guru/feed.rss" title="RSS Feed - hexagon.56k.guru" class="link-secondary">https://hexagon.56k.guru/feed.rss</a></strong>
                    </li>
                    <li class="nav-item mt-1">
                        <i class="fas fa-rss me-2"></i> JSON Feed: <strong><a href="https://hexagon.56k.guru/feed.json" title="JSON Feed - hexagon.56k.guru"  class="link-secondary">https://hexagon.56k.guru/feed.json</a></strong>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
