<!-- More series -->
{% set otherSeries = search.pages("part=1") %}
<section class="mb-4">
    <h4>Article series</h5>
    <ul class="list-unstyled">
        {% for subpost in search.pages("part=1") %}
            <li class="mb-2">
                <a class="link-primary {% if subpost.data.url == url %}link-secondary{% endif %}" href="{{ subpost.data.url }}">{{ subpost.data.series.title }}</a>
            </li>
        {% endfor %}
    </ul>
</section>