<!-- More series -->
{% set otherSeries = search.pages("part=1") %}
<nav>
    <h4>Article series</h5>
    <ul>
        {% for subpost in search.pages("part=1") %}
            <li>
                <a class="{% if subpost.url == url %}link-secondary{% endif %}" href="{{ subpost.url }}">{{ subpost.series.title }}</a>
            </li>
        {% endfor %}
    </ul>
</nav>