<nav class="navbar navbar-expand-lg mb-4 border-bottom border-light-subtle">
  <div class="container restricted">
    <a class="navbar-brand" href="/">
      Hexagon's Blog
    </a>
    <div id="collapse navbar-collapse">
      <span>
        <a class="link-dark" href="https://hexagon.56k.guru" title="Website"><i class="fas fa-globe me-2"></i></a>
        <a class="link-dark" href="https://github.com/hexagon" title="Hexagon at GitHub"><i class="fab fa-github me-2"></i></a>
        <a class="link-dark" href="https://github.com/sponsors/hexagon" title="Sponsor Hexagon at GitHub"><i class="fas fa-hand-holding-usd me-2"></i></a>
        <a class="link-dark" href="https://hexagon.56k.guru/feed.rss" title="RSS Feed for hexagon.56k.guru"><i class="fas fa-rss me-2"></i></a>
        <a class="link-dark" href="https://hexagon.56k.guru/feed.json" title="JSON Feed for hexagon.56k.guru"><i class="fas fa-rss me-2"></i></a>
      </span>      
    </div>
  </div>
</nav>
