<nav>
  <ul>
    <li>
      <a class="navbar-brand" href="/">
        Hexagon's Blog
      </a>
    </li>
  </ul>
  <ul>
    <li><a class="link-secondary" href="https://hexagon.56k.guru" title="Website"><i class="fas fa-globe me-2"></i></a></li>
    <li><a class="link-secondary" href="https://github.com/hexagon" title="Hexagon at GitHub"><i class="fab fa-github me-2"></i></a></li>
    <li><a class="link-secondary" href="https://github.com/sponsors/hexagon" title="Sponsor Hexagon at GitHub"><i class="fas fa-hand-holding-usd me-2"></i></a></li>
    <li><a class="link-secondary" href="https://hexagon.56k.guru/feed.rss" title="RSS Feed for hexagon.56k.guru"><i class="fas fa-rss me-2"></i></a></li>
    <li><a class="link-secondary" href="https://hexagon.56k.guru/feed.json" title="JSON Feed for hexagon.56k.guru"><i class="fas fa-rss me-2"></i></a></li>
  </ul>      
</nav>
