{% if series.tag %}
    <section>
    {% set nextPart = search.nextPage(url, series.tag, "part") %}
    {% set previousPart = search.previousPage(url, series.tag, "part")  %}
    {% if previousPart %}
        <i class="fas fa-angle-left"></i>
        <a class="spaced-link" href="{{ previousPart.data.url }}">{{ previousPart.data.title_short or previousPart.data.title }}</a>
    {% endif %}
    {% if previousPart and nextPart %}
        <i class="fas fa-ellipsis"></i> 
    {% endif %}
    {% if nextPart %}
        <a class="spaced-link" href="{{ nextPart.data.url }}">{{ nextPart.data.title_short or nextPart.data.title }}</a>
        <i class="fas fa-angle-right"></i>
    {% endif %}
    <section>
{% else %}
    <section>
    {% set nextPart = search.nextPage(url, "standalone", "date=desc" ) %}
    {% set previousPart = search.previousPage(url, "standalone", "date=desc" ) %}
    {% if previousPart %}
        <i class="fas fa-angle-left"></i>
        <a class="spaced-link" href="{{ previousPart.data.url }}">{{ previousPart.data.title_short or previousPart.data.title }}</a>
    {% endif %}
    {% if previousPart and nextPart %}
        <i class="fas fa-ellipsis"></i> 
    {% endif %}
    {% if nextPart %}
        <a class="spaced-link" href="{{ nextPart.data.url }}">{{ nextPart.data.title_short or nextPart.data.title }}</a>
        <i class="fas fa-angle-right"></i>
    {% endif %}
    <section>
{% endif %}