{% if page.data.header %}
  <img src="{{ page.data.header }}" class="header-image">
{% endif %}
<hgroup>
  <h1><a href="{{ page.data.url }}" class="link-secondary">{{page.data.title}}</a></h1>
  <p>
    {% if page.data.author %}
        by <strong>{{ page.data.author.name }}</strong>, 
    {% endif %}

    <!-- Date -->
    <time class="mb-1" datetime="{{ page.data.date | date("yyyy-MM-dd'T'HH:mm:ss'.000'XX") }}">
        {{ page.data.date | date }}</time>{% if page.data.updated %}<span>, Updated:</span>
      <time class="mb-1" datetime="{{ page.data.updated | date("yyyy-MM-dd'T'HH:mm:ss'.000'XX") }}">
        {{ page.data.updated | date }}
      </time>
    {% endif %}
    
    <!-- Reading time -->
    <span class="badge badge-alt"> {{ page.data.readingInfo.minutes }} minutes read</span>

    <!-- License -->
    <!--
    {% if page.data.license %}
      <span class="badge text-bg-success">{{ page.data.license }}</span>
    {% endif %}
    -->
    
    <!-- Tags -->
    {% for tag in tags %}
      {% if tag not in ["standalone","index","guide-to-js","post"] %}
        <a href="/archive/{{ tag }}"><span class="badge text-bg-dark">{{tag}}</span></a>
      {% endif %}
    {% endfor %}
  </p>
</hgroup>