<!--Recommended posts -->
<nav>
    <h4>Popular Posts</h4>
    <ul>
        <li>
            <a href="https://hexagon.56k.guru/posts/dual-mode-cross-runtime-packages/">How to Create a Dual-Mode Cross-Runtime JavaScript Package</a>
        </li>
        <li>
            <a href="https://hexagon.56k.guru/posts/deno-vs-bun-vs-node/">Deno vs. Bun vs. Node.js: A Feature Comparison</a>
        </li>
        <li>
            <a href="https://hexagon.56k.guru/posts/deno-vs-bun-vs-node-benchmark/">Deno vs. Bun vs. Node.js: A Speed Comparison</a>
        </li>
        <li>
            <a href="https://hexagon.56k.guru/posts/getting-started-with-deno/">Getting Started with Deno: A Secure Runtime for JavaScript and TypeScript</a>
        </li>
        <li>
            <a href="https://hexagon.56k.guru/posts/running-deno-application-at-boot/">Autostarting And Monitoring Deno Applications And Services</a>
        </li>
        <li>
            <a href="https://hexagon.56k.guru/posts/hardening-linux-server/">Harden Your Linux Server Using These Foundational Measures</a>
        </li>
    </ul>
    <h4>Latest Posts</h4>
    <ul>
    {% for subpost in search.pages("standalone", "date=desc") %}
        <li>
            <a class="{% if subpost.data.url == url %}link-secondary{% endif %}" href="{{ subpost.data.url }}">{{ subpost.data.title_short or subpost.data.title }}</a>
        </li>
    {% endfor %}
    </ul>
</nav>