<!--Recommended posts -->
<nav>
    <h4>Recommended posts</h4>
    <ul>
    {% for subpost in search.pages("standalone") %}
        <li>
            <a class="{% if subpost.data.url == url %}link-secondary{% endif %}" href="{{ subpost.data.url }}">{{ subpost.data.title_short or subpost.data.title }}</a>
        </li>
    {% endfor %}
    </ul>
</nav>