<!-- Current Series TOC -->
{% if page.data.series %}
    <nav>
        <h4>{{ page.data.series.title }}</h4>
        <ul>
            {% for subpost in search.pages(page.data.series.tag, "part") %}
                <li><a class="{% if subpost.data.url == url %}link-secondary{% endif %}" href="{{ subpost.data.url }}">{{subpost.data.part}}. {{ subpost.data.title_short or subpost.data.title }}</a></li>
            {% endfor %}
        </ul>
    </nav>
{% endif %}